*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: small;
}

html{
    min-height: 100%;
    position: relative;
}

body header section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-decoration: none;
    margin: 15px;
}
body header section div{
    margin: 10px;
}

.menu img{
    width: 25px;
}

.gmail img{
    width: 25px;
}

/*Parte central*/

.logo{
    display: flex;
    justify-content: center;
}

main section img{
    height: 200px;
}

.search_area{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.botones{
    margin: 10px;
}

.search_tool{
    display: flex;
    flex-direction: row;
    border: 1px solid lightblue;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
    justify-content: space-evenly;
}
.icon img{
    width: 20px;
    height: 20px;
}
input{
    border: none;
    width: 70%;
}
.voz img{
    width: 20px;
    height: 20px;
}
.por_foto img{
    width: 20px;
    height: 20px;
}

.region{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 15px;
} 

button{
    height: 30px;
    background-color: #fcfcfc;
    border: 0;
    font-size: 14px;
    border-radius: 7px;
    padding: 0 15px;
    margin-right: 15px;
}

button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #000001;
}


/*Pie de página*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    margin: 15px;
}

footer div{
    margin: 15px;
}

/*Responsive queries*/

@media screen 
    and (max-device-width: 660px){
    
        main section img{
            height: 100px;
        }

        footer{
            flex-wrap: wrap;
        }
}

@media screen
    and (max-device-height: 415px) {

        main section img{
            height: 100px;
        }
}
